.princeton-menu-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.princeton-dashboard {
  display: flex;
  justify-content: right;
  gap: 15px;
  padding: 1.25rem 1.25rem;
  border-bottom: 0.25rem solid #e77500;
  line-height: 1;
  background-color: white;
}

.princeton-dash-button {
  padding: 0.25rem 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: 1px solid #e77500;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 24px;
  line-height: 1;
  font-weight: 500;
}

.princeton-dash-button:hover {
  background-color: #e9ecef;
}

.play-button {
  margin-top: 2rem;
  padding: 12px 32px;
  font-size: 2rem;
  background-color: white;
  color: #e77500;
  border: 0.3rem solid #e77500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 15rem;
  height: 5rem;
  font-weight: 800;
}

.play-button:hover {
  background-color: #e77500;
  color: white;
  transform: scale(1.05);
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: url('/src/assets/university_campus.jpg');
}

.welcome-container {
  border: 0.1rem solid #e77500;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  height: auto; 
  max-height: 65vh; 
}

.content-container h1 {
  color: #333;
  font-size: 2rem !important;
  margin: 0;
  text-align: center;
  padding-bottom: 1.5rem;
}

.welcome-container p {
  font-size: 1.25rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.background-overlay {
  background-color: #e77500;
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-container img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-height: 20vh;
  max-width: 25vw;
}
