.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    /* flex: 5 !important; /* Change to flex: 3 */
    /* padding: 0px !important;  */
}

.top-padding {
    padding-top: 1.5rem;
}

.divider {
    border: 0.1rem solid #ebedee;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1.5rem;
}

.input {
    flex: 1;
}

.preview {
    flex: 1.5;
}


.container-col {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.publish {
    margin-left: auto;
}