/* Global screen layout */
.screen {
  display: flex !important;
  height: 100vh !important; /* Full viewport height */
  width: 100vw !important; /* Full viewport width */
}

/* Left side of the screen */
.left {
  flex: 1 !important; /* Change to flex: 1 */
  display: flex !important;
  justify-content: left !important;
  align-items: left !important;
  padding: 0px !important;
}

/* Right side of the screen */
.right {
  flex: 5 !important; /* Change to flex: 3 */
  display: flex !important;
  padding: 0px !important;
}

/* Centering elements in statboxes */
.statboxes {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
