/* Gradient background for the right half of the screen */
.background {
  flex: 1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #9984d4, #0d0149); /* Gradient from blue to purple */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Positioning context for absolutely positioned children */
  overflow: hidden; /* Prevents overflow of the image */
}

.background-image {
  position: absolute; /* Position the image absolutely within the parent */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-35%, -65%); /* Adjust position to center */
  z-index: 1; /* Ensure the image is behind the text */
  width: 110%;
  height: auto; /* Maintain aspect ratio */
}

/* Scope text styles to the background component container */
.background .container {
  display: flex;              /* Use flexbox */
  flex-direction: column;     /* Arrange items in a column */
  justify-content: center;
  align-items: center;        /* Center items horizontally */
  position: relative;
  z-index: 2;
}

/* Specifically target h2 and h3 within the background container */
.background .container h2,
.background .container h3 {
  color: white !important;
  position: relative; /* Keep the text on top of the image */
  z-index: 2; /* Ensure text is above the image */
  margin: 0; /* Remove default margin */
  font-family: 'Montserrat', sans-serif !important;
}

.background .container h2 {
  font-size: 2rem; /* Change the font size for h2 */
}

.background .container h3 {
  font-size: 1.5rem; /* Change the font size for h3 */
  margin-top: 1rem;
}
