/* Global screen layout */
.screen {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  /* Left half of the screen */
  .left-half {
    flex: 1 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #fff !important; /* Default background */
  }
  
  /* Right half of the screen */
  .right-half {
    flex: 1 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  /* Change background color to black when login is visible */
  .black-background {
    background-color: black !important; /* Change background to black */
  }
  
  /* Override left-half background color when login is visible */
  .black-background .left-half {
    background-color: black !important; /* Change left half background to black */
  }

  .back-button {
    position: absolute; /* Keep it positioned absolutely */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    z-index: 10; /* Ensure it's above other content */
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 16px; /* Adjust font size for text */
    color: #fff; /* Set the color of the text, adjust as needed */
  }

  
  
  